---
layout: page
title:  欢迎 - Huānyíng - Welcome
tagline: Follow the development of a new online Chinese tone learning game.
---
{% include JB/setup %}

Toney is meant to be an online game similiar to Singstar but with the purpose of learning to pronounce Chinese tones correctly. As part of Linköping University's Summer of Code program I will post updates on the ongoing development here.

<a url="https://github.com/biggestT/toney">View the project on GitHub</a>.

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}