---
layout: page
title:  Demo of current testversion
tagline: Continuously updated demo 
---
{% include JB/setup %}

<section id="toneyApp">
		<!-- FILLED DURING APP INITIALIZATION -->
</section>


  <script type="text/javascript" src="js/lib-min/underscore-min.js"></script>
	<script type="text/javascript" src="js/lib-min/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/lib-min/backbone-min.js"></script>
	<script type="text/javascript" src="js/toney.min.js"></script>
  
  <script>
	  var app = app || {};
	  'use strict';
	  // Kick off everyting!
		$(function() {
			new app.AppView();
		});
	</script>

{% include JB/comments %}